* {
    background-color: #fff;
    /* border: 1px solid grey; */
}

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(150, 18, 17);
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    border: 5px solid black;
}
header {
    background-color: rgb(150, 18, 17);
    color: yellow;
    border-bottom: 4px solid black;
}

h1, h2 {
    background-color: rgb(150, 18, 17);
    margin: 0;
    padding: 1%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color: gainsboro;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 18, 17);
    margin: 30px auto;
}

#pokedex {
    width: 30vw;
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px black;
}

#pokedex:active {
    animation: bounce .7s linear;
}
/* *********************** */
/*     Pokemon styling     */
/* *********************** */
.pokemon {
    display: none;
    border-radius: 5px;
}


img {
    width: 30vw;
}

.pokemon-info {
    border-top: 1px solid grey;
    background-color: #fff;
}

.pokemon-info > h2 {
    background-color: #fff;
    font-size: 3vw;
    text-shadow: none;
    color: black;
}

.pokemon-info > p {
    font-size: 2vw;
}

#pokedex > div:first-of-type {
    display: block;
}

/* *********************** */
/*     Side arrows styles     */
/* *********************** */

.cycle-buttons {
    display: flex;
    justify-content: center;
    background-color: silver;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    margin: 1%;
    width: 5vw;
    font-size: 3vw;
    align-items: center;

}

.cycle-buttons:active {
    animation: zoom-in .1s;
}

/* *********************** */
/*         Keyframes       */
/* *********************** */

@keyframes zoom-in {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1)
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-8px);
    }
    20% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px)
    }
}
