* {
    background-color: #fff;
    /* border: 1px solid grey; */
}

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(150, 18, 17);
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: auto;
}
header {
    background-color: rgb(150, 18, 17);
    color: yellow;
}

h1, h2 {
    background-color: rgb(150, 18, 17);
    margin: 0;
    padding: 3%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1 {
    font-size: 8vw;
    margin-bottom: 10%;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(150, 18, 17);
    align-items: center;
}

.cycle-buttons {
    display: flex;
    justify-content: center;
    background-color: silver;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    margin: 1%;
    width: 5vw;
    font-size: 3vw;
    align-items: center;
}

#pokedex, #enemy {
    width: 41vw;
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px black;
}

#enemy {
    display: none;
}
/* *********************** */
/*     Pokemon styling     */
/* *********************** */
.pokemon {
    display: none;
    border-radius: 5px;
}

img {
    width: 40vw;
}

.pokemon-info {
    border-top: 1px solid grey;

}

.pokemon-info > h2 {
    background-color: #fff;
    font-size: 3vw;
    text-shadow: none;
}

.pokemon-info > p {
    font-size: 2vw;
}

#pokedex > div:first-of-type {
    display: block;
}

#arena {
    background-color: rgb(150, 18, 17);
}

/* *********************** */
/*     Modal styling     */
/* *********************** */
#modal {
    display: none;

}

#modal > h1 {
    background-color: #fff;
    font-size: 2vw;
    text-shadow: none;
}

#call-button {
    height: 8vh;
    width: 13vw;
    font-size: 2vw;
}
